---
layout: page
---
    
    <div style="text-align: center;" class="alert-box info radius">
        Bienvenido a <strong>dodecaedro.mx</strong>, tu página aún está en fase de pruebas, así que te adviertimos que tendrá algunos detalles pero ya puedes <strong>disfrutar de nuestros contenidos.</strong>
    </div>

    <ul class="index-orbit" data-orbit>
        {% for post in site.posts limit:5 %}
            <li data-orbit-slide="{{ post.title | slugify }}-{{ post.date | date_to_string | slugify }}">
                {% if post.thumbnail %}
                    <a href="{{ post.url }}"><img alt="{{ post.title }}" src="{{ post.thumbnail }}" align="center" /></a>
                {% else %}
                    <a href="{{ post.url }}"><img src="/assets/img/dummy.jpg" align="center" /></a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    <div class="small-6 medium-3 columns">
    {% for post in site.posts limit:5 %}
        <a data-orbit-link="{{ post.title | slugify }}-{{ post.date | date_to_string | slugify }}" class="index-orbit-link">
            {{ post.title }}
        </a>
    {% endfor %}
    </div>
   
    <hr>
    <h2>De todo</h2>
    <hr>

    <ul class="small-block-grid-1 medium-block-grid-4">
    
        {% for post in site.posts limit:10 %}
    
            <li>
                <a href="{{ post.url }}"> 
                    {% if post.thumbnail %}
                        <img alt="{{ post.title }}" src="{{ post.thumbnail }}" align="center" />
                    {% else %}
                        <img src="/assets/img/dummy.jpg" align="center" />
                    {% endif %}
                </a>
            </li>
            <li>
                <a href="{{ post.url }}"><h4>{{ post.title }}</h4></a>
                <p>
                   {{ post.excerpt | truncate:140 }}
                </p>
                <a href="{{ post.url }}">Leer más ></a>
            </li>
    
        {% endfor %}

    </ul>

    <br>
    
    <h2>Cine</h2>
    <hr>

    <ul class="small-block-grid-1 medium-block-grid-4">
    
        {% for post in site.categories.cine limit:5 %}
    
            <li>
                <a href="{{ post.url }}"> 
                    {% if post.thumbnail %}
                        <img alt="{{ post.title }}" src="{{ post.thumbnail }}" align="center" />
                    {% else %}
                        <img src="/assets/img/dummy.jpg" align="center" />
                    {% endif %}
                </a>
            </li>
            <li>
                <a href="{{ post.url }}"><h4>{{ post.title }}</h4></a>
                <p>
                   {{ post.excerpt | truncate:140 }}
                </p>
                <a href="{{ post.url }}">Leer más ></a>
            </li>
    
        {% endfor %}

    </ul>

    <br>
    <h2>Música</h2>
    <hr>

    <ul class="small-block-grid-1 medium-block-grid-4">
    
        {% for post in site.categories.musica limit:5 %}
    
            <li>
                <a href="{{ post.url }}"> 
                    {% if post.thumbnail %}
                        <img alt="{{ post.title }}" src="{{ post.thumbnail }}" align="center" />
                    {% else %}
                        <img src="/assets/img/dummy.jpg" align="center" />
                    {% endif %}
                </a>
            </li>
            <li>
                <a href="{{ post.url }}"><h4>{{ post.title }}</h4></a>
                <p>
                   {{ post.excerpt | truncate:140 }}
                </p>
                <a href="{{ post.url }}">Leer más ></a>
            </li>
    
        {% endfor %}

    </ul>

    <br>
    <h2>Foto</h2>
    <hr>

    <ul class="small-block-grid-1 medium-block-grid-4">
    
        {% for post in site.categories.foto limit:5 %}
    
            <li>
                <a href="{{ post.url }}"> 
                    {% if post.thumbnail %}
                        <img alt="{{ post.title }}" src="{{ post.thumbnail }}" align="center" />
                    {% else %}
                        <img src="/assets/img/dummy.jpg" align="center" />
                    {% endif %}
                </a>
            </li>
            <li>
                <a href="{{ post.url }}"><h4>{{ post.title }}</h4></a>
                <p>
                   {{ post.excerpt | truncate:140 }}
                </p>
                <a href="{{ post.url }}">Leer más ></a>
            </li>
    
        {% endfor %}

    </ul>

    <br>
    <h2>Graphique</h2>
    <hr>

    <ul class="small-block-grid-1 medium-block-grid-4">
    
        {% for post in site.categories.graphique limit:5 %}
    
            <li>
                <a href="{{ post.url }}"> 
                    {% if post.thumbnail %}
                        <img alt="{{ post.title }}" src="{{ post.thumbnail }}" align="center" />
                    {% else %}
                        <img src="/assets/img/dummy.jpg" align="center" />
                    {% endif %}
                </a>
            </li>
            <li>
                <a href="{{ post.url }}"><h4>{{ post.title }}</h4></a>
                <p>
                   {{ post.excerpt | truncate:140 }}
                </p>
                <a href="{{ post.url }}">Leer más ></a>
            </li>
    
        {% endfor %}

    </ul>

    <br>
    <h2>Letras</h2>
    <hr>

    <ul class="small-block-grid-1 medium-block-grid-4">
    
        {% for post in site.categories.letras limit:5 %}
    
            <li>
                <a href="{{ post.url }}"> 
                    {% if post.thumbnail %}
                        <img alt="{{ post.title }}" src="{{ post.thumbnail }}" align="center" />
                    {% else %}
                        <img src="/assets/img/dummy.jpg" align="center" />
                    {% endif %}
                </a>
            </li>
            <li>
                <a href="{{ post.url }}"><h4>{{ post.title }}</h4></a>
                <p>
                   {{ post.excerpt | truncate:140 }}
                </p>
                <a href="{{ post.url }}">Leer más ></a>
            </li>
    
        {% endfor %}

    </ul>
