---
layout: page
---
    
    <div class="alert-box radius">
        Bienvenido a <strong>dodecaedro.mx</strong> tu página aún está en fase de pruebas, te advierto que tendrá algunos detalles pero ya puedes <strong>disfrutar de nuestros contenidos.</strong>
    </div>
   
    <h2>De todo</h2>
    <hr>

    <ul class="small-block-grid-1 medium-block-grid-4">
    
        {% for post in site.posts limit:10 %}
    
            <li>
                <a href="{{ post.url }}"> 
                    {% if post.thumbnail %}
                        <img src="{{ post.thumbnail }}" align="center" />
                    {% else %}
                        <img src="/assets/img/dummy.jpg" align="center" />
                    {% endif %}
                </a>
            </li>
            <li>
                <h4>{{ post.title }}</h4>
                <p>
                   {{ post.excerpt }}
                </p>
                <a href="{{ post.url }}">Leer más...</a>
            </li>
    
        {% endfor %}

    </ul>

    <br>
    
    <h2>Cine</h2>
    <hr>

    <ul class="small-block-grid-1 medium-block-grid-4">
    
        {% for post in site.categories.cine limit:5 %}
    
            <li>
                <a href="{{ post.url }}"> 
                    {% if post.thumbnail %}
                        <img src="{{ post.thumbnail }}" align="center" />
                    {% else %}
                        <img src="/assets/img/dummy.jpg" align="center" />
                    {% endif %}
                </a>
            </li>
            <li>
                <h4>{{ post.title }}</h4>
                <p>
                   {{ post.excerpt }}
                </p>
                <a href="{{ post.url }}">Leer más...</a>
            </li>
    
        {% endfor %}

    </ul>

    <br>
    <h2>Música</h2>
    <hr>

    <ul class="small-block-grid-1 medium-block-grid-4">
    
        {% for post in site.categories.musica limit:5 %}
    
            <li>
                <a href="{{ post.url }}"> 
                    {% if post.thumbnail %}
                        <img src="{{ post.thumbnail }}" align="center" />
                    {% else %}
                        <img src="/assets/img/dummy.jpg" align="center" />
                    {% endif %}
                </a>
            </li>
            <li>
                <h4>{{ post.title }}</h4>
                <p>
                   {{ post.excerpt }}
                </p>
                <a href="{{ post.url }}">Leer más...</a>
            </li>
    
        {% endfor %}

    </ul>

    <br>
    <h2>Foto</h2>
    <hr>

    <ul class="small-block-grid-1 medium-block-grid-4">
    
        {% for post in site.categories.foto limit:5 %}
    
            <li>
                <a href="{{ post.url }}"> 
                    {% if post.thumbnail %}
                        <img src="{{ post.thumbnail }}" align="center" />
                    {% else %}
                        <img src="/assets/img/dummy.jpg" align="center" />
                    {% endif %}
                </a>
            </li>
            <li>
                <h4>{{ post.title }}</h4>
                <p>
                   {{ post.excerpt }}
                </p>
                <a href="{{ post.url }}">Leer más...</a>
            </li>
    
        {% endfor %}

    </ul>

    <br>
    <h2>Graphique</h2>
    <hr>

    <ul class="small-block-grid-1 medium-block-grid-4">
    
        {% for post in site.categories.graphique limit:5 %}
    
            <li>
                <a href="{{ post.url }}"> 
                    {% if post.thumbnail %}
                        <img src="{{ post.thumbnail }}" align="center" />
                    {% else %}
                        <img src="/assets/img/dummy.jpg" align="center" />
                    {% endif %}
                </a>
            </li>
            <li>
                <h4>{{ post.title }}</h4>
                <p>
                   {{ post.excerpt }}
                </p>
                <a href="{{ post.url }}">Leer más...</a>
            </li>
    
        {% endfor %}

    </ul>

    <br>
    <h2>Letras</h2>
    <hr>

    <ul class="small-block-grid-1 medium-block-grid-4">
    
        {% for post in site.categories.letras limit:5 %}
    
            <li>
                <a href="{{ post.url }}"> 
                    {% if post.thumbnail %}
                        <img src="{{ post.thumbnail }}" align="center" />
                    {% else %}
                        <img src="/assets/img/dummy.jpg" align="center" />
                    {% endif %}
                </a>
            </li>
            <li>
                <h4>{{ post.title }}</h4>
                <p>
                   {{ post.excerpt }}
                </p>
                <a href="{{ post.url }}">Leer más...</a>
            </li>
    
        {% endfor %}

    </ul>
