<footer>
    <div class="row">
        <div class="small-6 columns">
        	<p>
            	Copyright <a href="/">DODECAEDRO.MX</a> 2015<br>
                <a href="#">contacto@dodecaedro.mx</a><br>
                Desarrollado por <a href="http://sebastianls.com">Sebastián LS</a>
            </p>
        </div>
        <div class="small-6 columns">
            <p class="right">
                <a href="#">Sobre Nosotros</a> | <a href="/artistas/">Artistas</a><br><br><a class="right" href="http://facebook.com/dodecaedromexico/" target="_blank"><img src="{{ "/assets/img/SVG/facebook-20-x-20.svg" | prepend: site.baseurl }}"/></a>
            </p>
        </div>
    </div>
</footer>