<footer>
    <div class="row">
        <div class="small-6 columns">
        	<p>
				<a href="http://facebook.com/dodecaedromexico/" target="_blank"><img src="{{ "/assets/img/SVG/facebook-20-x-20.svg" | prepend: site.baseurl }}"/></a>
			</p>
            <p>
            	Copyright <a href="#">DODECAEDRO.MX</a> 2015
            </p>
        </div>
        <div class="small-6 columns">
        	<p>
            	<a href="#">Sobre Nosotros</a> | <a href="#">Artistas</a><br>
            	<a href="#">Contacto</a><br>
            	Desarrollado por <a href="http://sebastianls.com">Sebastián LS</a>
            </p>
        </div>
    </div>
</footer>