<header>

  <div class="fixed">

    <nav class="top-bar" data-topbar role="navigation">
        
        <ul class="title-area">
            <li class="name">
                <h1><a href="/">DODECAEDRO.MX</a></h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
        </ul>
        
                
        <section class="top-bar-section show-for-medium-up">
            <ul class="right">
                <li class="has-dropdown">
                    <a id="follow" href="#">Follow</a>
                    <ul class="dropdown">
                        <li>
                            <a href="#"><img src="assets/img/SVG/facebook-20-x-20.svg"/></a>
                        </li>
                        <li>
                            <a href="#"><img src="assets/img/SVG/twitter-20-x-20.svg"/></a>
                        </li>
                        <li>
                            <a href="#"><img src="assets/img/SVG/youtube_play-20-x20.svg"/></a>
                        </li>
                    </ul>    
                </li>
            </ul>
        </section>
        
        <section class="top-bar-section">

            <ul class="right">
                <li class="has-dropdown">
                    <a href="#">Cine</a>
                    <ul class="dropdown">
                        <li><a href="#">Reseñas</a></li>
                        <li><a href="#">Cortometrajes</a></li>
                        <li><a href="#">Tops</a></li>
                        <li><a href="#">Eventos</a></li>
                    </ul>
                </li>
                <li class="has-dropdown">
                    <a href="#">Música</a>
                    <ul class="dropdown">
                        <li><a href="#">Bandas Locales</a></li>
                        <li><a href="#">Recomendaciones</a></li>
                        <li><a href="#">Reseñas</a></li>
                        <li><a href="#">Tops</a></li>
                        <li><a href="#">Eventos</a></li>
                    </ul>
                </li>
                <li class="has-dropdown">
                    <a href="#">Foto</a>
                    <ul class="dropdown">
                        <li><a href="#">Photowalls</a></li>
                        <li><a href="#">Galerías Gif</a></li>
                        <li><a href="#">Tops</a></li>
                        <li><a href="#">Eventos</a></li>
                    </ul>
                </li>
                <li class="has-dropdown">
                    <a href="#">Pintura</a>
                    <ul class="dropdown">
                        <li><a href="#">Colecciones</a></li>
                        <li><a href="#">Locales</a></li>
                        <li><a href="#">Tops</a></li>
                        <li><a href="#">Eventos</a></li>
                    </ul>
                </li>
                <li class="has-dropdown">
                    <a href="#">Letras</a>
                    <ul class="dropdown">
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#">Tops</a></li>
                        <li><a href="#">Eventos</a></li>
                    </ul>
                </li>
            </ul>
        </section>
        
    </nav>

  </div>

</header>
