<header>

  <div class="fixed">

    <nav class="top-bar" data-topbar role="navigation">
        
        <ul class="title-area">
            <li class="name">
                <a href="/"><img style="width: 200px;" src="{{ "/logo.png" | prepend: site.baseurl }}" alt="dodecaedro logo"></a>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
        </ul>
        
                
        <section class="top-bar-section show-for-medium-up">
            <ul class="right">
                <li class="has-dropdown">
                    <a href="http://facebook.com/dodecaedromexico/" target="_blank"><img src="{{ "/assets/img/SVG/facebook-20-x-20.svg" | prepend: site.baseurl }}"/></a>
                </li>
            </ul>
        </section>
        
        <section class="top-bar-section">

            <ul class="right">
                <li class="has-dropdown">
                    <a href="{{ "/cine" | prepend: site.baseurl }}">Cine</a>
                    <ul class="dropdown">
                        <li><a href="{{ "/cine/#resenas" | prepend: site.baseurl }}">Reseñas</a></li>
                        <li><a href="{{ "/cine/#cortometrajes" | prepend: site.baseurl }}">Cortometrajes</a></li>
                        <li><a href="{{ "/cine/#tops" | prepend: site.baseurl }}">Tops</a></li>
                        <li><a href="{{ "/cine/#invitados" | prepend: site.baseurl }}">Invitados</a></li>
                        <li><a href="{{ "/cine/#eventos" | prepend: site.baseurl }}">Eventos</a></li>
                    </ul>
                </li>
                <li class="has-dropdown">
                    <a href="{{ "/musica" | prepend: site.baseurl }}">Música</a>
                    <ul class="dropdown">
                        <li><a href="{{ "/musica/#invitados" | prepend: site.baseurl }}">Invitados</a></li>
                        <li><a href="{{ "/musica/#recomendaciones" | prepend: site.baseurl }}">Recomendaciones</a></li>
                        <li><a href="{{ "/musica/#resenas" | prepend: site.baseurl }}">Reseñas</a></li>
                        <li><a href="{{ "/musica/#tops" | prepend: site.baseurl }}">Tops</a></li>
                        <li><a href="{{ "/musica/#eventos" | prepend: site.baseurl }}">Eventos</a></li>
                    </ul>
                </li>
                <li class="has-dropdown">
                    <a href="{{ "/fotografia" | prepend: site.baseurl }}">Fotografía</a>
                    <ul class="dropdown">
                        <li><a href="{{ "/fotografia/#photowalls" | prepend: site.baseurl }}">Photowalls</a></li>
                        <li><a href="{{ "/fotografia/#gif-walls" | prepend: site.baseurl }}">Gif-walls</a></li>
                        <li><a href="{{ "/fotografia/#tops" | prepend: site.baseurl }}">Tops</a></li>
                        <li><a href="{{ "/fotografia/#invitados" | prepend: site.baseurl }}">Invitados</a></li>
                        <li><a href="{{ "/fotografia/#eventos" | prepend: site.baseurl }}">Eventos</a></li>
                    </ul>
                </li>
                <li class="has-dropdown">
                    <a href="{{ "/graphique" | prepend: site.baseurl }}">Graphique</a>
                    <ul class="dropdown">
                        <li><a href="{{ "/graphique/#colecciones" | prepend: site.baseurl }}">Colecciones</a></li>
                        <li><a href="{{ "/graphique/#pintura" | prepend: site.baseurl }}">Pintura</a></li>
                        <li><a href="{{ "/graphique/#sketching" | prepend: site.baseurl }}">Sketching</a></li>
                        <li><a href="{{ "/graphique/#invitados" | prepend: site.baseurl }}">Invitados</a></li>
                        <li><a href="{{ "/graphique/#eventos" | prepend: site.baseurl }}">Eventos</a></li>
                    </ul>
                </li>
                <li class="has-dropdown">
                    <a href="{{ "/letras" | prepend: site.baseurl }}">Letras</a>
                    <ul class="dropdown">
                        <li><a href="{{ "/letras/#historias" | prepend: site.baseurl }}">Historias</a></li>
                        <li><a href="{{ "/letras/#ensayos" | prepend: site.baseurl }}">Ensayos</a></li>
                        <li><a href="{{ "/letras/#poesia" | prepend: site.baseurl }}">Poe-sía</a></li>
                        <li><a href="{{ "/letras/#dodecaedro-recomienda" | prepend: site.baseurl }}">Dodecaedro recomienda</a></li>
                        <li><a href="{{ "/letras/#eventos" | prepend: site.baseurl }}">Eventos</a></li>
                    </ul>
                </li>
            </ul>
        </section>
        
    </nav>

  </div>

</header>
