---
layout: page
title: Fotografía
---

<div id="invitados">

	<div id="photowalls"></div>
	
	<hr>
	<h1>Photowalls</h1>

	<ul class="masonry small-block-grid-2 medium-block-grid-4 large-block-grid-6">

		{% for post in site.categories.fotografia-photowalls limit:100 %}

				<li>
					<a href="{{ post.url }}">			
						<p>
							{% if post.thumbnail %}
                       			<img src="{{ post.thumbnail }}" align="center" />
	                    	{% else %}
    	                    	<img src="/assets/img/dummy.jpg" align="center" />
        	            	{% endif %}
						</p>
						<p>
							<a href="{{ post.url }}"><strong>{{ post.title }}</strong></a>
							<p>{{ post.excerpt }}</p>
						</p>
					</a>
				</li>

		{% endfor %}

	</ul>

	<div id="gifwalls"></div>
	<hr>
	<h1>Gif-walls</h1>
	
	<ul class="masonry small-block-grid-2 medium-block-grid-4 large-block-grid-6">

		{% for post in site.categories.fotografia-gifwalls limit:100 %}

				<li>
					<a href="{{ post.url }}">			
						<p>
							{% if post.thumbnail %}
                       			<img src="{{ post.thumbnail }}" align="center" />
	                    	{% else %}
    	                    	<img src="/assets/img/dummy.jpg" align="center" />
        	            	{% endif %}
						</p>
						<p>
							<a href="{{ post.url }}"><strong>{{ post.title }}</strong></a>
							<p>{{ post.excerpt }}</p>
						</p>
					</a>
				</li>

		{% endfor %}

	</ul>

	<div id="tops"></div>
	<hr>
	<h1>Tops</h1>
	
	<ul class="masonry small-block-grid-2 medium-block-grid-4 large-block-grid-6">

		{% for post in site.categories.fotografia-tops limit:100 %}

				<li>
					<a href="{{ post.url }}">			
						<p>
							{% if post.thumbnail %}
                       			<img src="{{ post.thumbnail }}" align="center" />
	                    	{% else %}
    	                    	<img src="/assets/img/dummy.jpg" align="center" />
        	            	{% endif %}
						</p>
						<p>
							<a href="{{ post.url }}"><strong>{{ post.title }}</strong></a>
							<p>{{ post.excerpt }}</p>
						</p>
					</a>
				</li>

		{% endfor %}

	</ul>

	<hr>
	<h1>Invitados</h1>

	<ul class="masonry small-block-grid-2 medium-block-grid-4 large-block-grid-6">

		{% for post in site.categories.fotografia-invitados limit:100 %}

				<li>
					<a href="{{ post.url }}">			
						<p>
							{% if post.thumbnail %}
                       			<img src="{{ post.thumbnail }}" align="center" />
	                    	{% else %}
    	                    	<img src="/assets/img/dummy.jpg" align="center" />
        	            	{% endif %}
						</p>
						<p>
							<a href="{{ post.url }}"><strong>{{ post.title }}</strong></a>
							<p>{{ post.excerpt }}</p>
						</p>
					</a>
				</li>

		{% endfor %}

	</ul>


	<div id="eventos"></div>
	<hr>
	<h1>Eventos</h1>
	
	<ul class="masonry small-block-grid-2 medium-block-grid-4 large-block-grid-6">

		{% for post in site.categories.fotografia-eventos limit:100 %}

				<li>
					<a href="{{ post.url }}">			
						<p>
							{% if post.thumbnail %}
                       			<img src="{{ post.thumbnail }}" align="center" />
	                    	{% else %}
    	                    	<img src="/assets/img/dummy.jpg" align="center" />
        	            	{% endif %}
						</p>
						<p>
							<a href="{{ post.url }}"><strong>{{ post.title }}</strong></a>
							<p>{{ post.excerpt }}</p>
						</p>
					</a>
				</li>

		{% endfor %}

	</ul>

</div>