---
layout: page
title: Letras
---

<div id="historias">
	
	<hr>
	<h1>Historias</h1>

	<ul class="masonry small-block-grid-2 medium-block-grid-4 large-block-grid-6">

		{% for post in site.categories.letras-historias limit:100 %}

				<li>
					<a href="{{ post.url }}">			
						<p>
							{% if post.thumbnail %}
                       			<img src="{{ post.thumbnail }}" align="center" />
	                    	{% else %}
    	                    	<img src="/assets/img/dummy.jpg" align="center" />
        	            	{% endif %}
						</p>
						<p>
							<a href="{{ post.url }}"><strong>{{ post.title }}</strong></a>
							<p>{{ post.excerpt }}</p>
						</p>
					</a>
				</li>

		{% endfor %}

	</ul>

	<div id="ensayos"></div>
	
	<hr>
	<h1>Ensayos</h1>

	<ul class="masonry small-block-grid-2 medium-block-grid-4 large-block-grid-6">

		{% for post in site.categories.letras-ensayos limit:100 %}

				<li>
					<a href="{{ post.url }}">			
						<p>
							{% if post.thumbnail %}
                       			<img src="{{ post.thumbnail }}" align="center" />
	                    	{% else %}
    	                    	<img src="/assets/img/dummy.jpg" align="center" />
        	            	{% endif %}
						</p>
						<p>
							<a href="{{ post.url }}"><strong>{{ post.title }}</strong></a>
							<p>{{ post.excerpt }}</p>
						</p>
					</a>
				</li>

		{% endfor %}

	</ul>

	<div id="poesia"></div>
	
	<hr>
	<h1>Poe-sía</h1>

	<ul class="masonry small-block-grid-2 medium-block-grid-4 large-block-grid-6">

		{% for post in site.categories.letras-poesia limit:100 %}

				<li>
					<a href="{{ post.url }}">			
						<p>
							{% if post.thumbnail %}
                       			<img src="{{ post.thumbnail }}" align="center" />
	                    	{% else %}
    	                    	<img src="/assets/img/dummy.jpg" align="center" />
        	            	{% endif %}
						</p>
						<p>
							<a href="{{ post.url }}"><strong>{{ post.title }}</strong></a>
							<p>{{ post.excerpt }}</p>
						</p>
					</a>
				</li>

		{% endfor %}

	</ul>
	<!--
	<div id="dodecaedro-recomienda"></div>
	<hr>
	<h1>Dodecaedro Recomienda</h1>
	
	<ul class="masonry small-block-grid-2 medium-block-grid-4 large-block-grid-6">

		{% for post in site.categories.letras-dodecaedro-recomienda limit:100 %}

				<li>
					<a href="{{ post.url }}">			
						<p>
							{% if post.thumbnail %}
                       			<img src="{{ post.thumbnail }}" align="center" />
	                    	{% else %}
    	                    	<img src="/assets/img/dummy.jpg" align="center" />
        	            	{% endif %}
						</p>
						<p>
							<a href="{{ post.url }}"><strong>{{ post.title }}</strong></a>
							<p>{{ post.excerpt }}</p>
						</p>
					</a>
				</li>

		{% endfor %}

	</ul>

	<div id="invitados"></div>
	<hr>
	<h1>Invitados</h1>
	
	<ul class="masonry small-block-grid-2 medium-block-grid-4 large-block-grid-6">

		{% for post in site.categories.letras-invitados limit:100 %}

				<li>
					<a href="{{ post.url }}">			
						<p>
							{% if post.thumbnail %}
                       			<img src="{{ post.thumbnail }}" align="center" />
	                    	{% else %}
    	                    	<img src="/assets/img/dummy.jpg" align="center" />
        	            	{% endif %}
						</p>
						<p>
							<a href="{{ post.url }}"><strong>{{ post.title }}</strong></a>
							<p>{{ post.excerpt }}</p>
						</p>
					</a>
				</li>

		{% endfor %}

	</ul>

	<div id="eventos"></div>
	<hr>
	<h1>Eventos</h1>
	
	<ul class="masonry small-block-grid-2 medium-block-grid-4 large-block-grid-6">

		{% for post in site.categories.letras-eventos limit:100 %}

				<li>
					<a href="{{ post.url }}">			
						<p>
							{% if post.thumbnail %}
                       			<img src="{{ post.thumbnail }}" align="center" />
	                    	{% else %}
    	                    	<img src="/assets/img/dummy.jpg" align="center" />
        	            	{% endif %}
						</p>
						<p>
							<a href="{{ post.url }}"><strong>{{ post.title }}</strong></a>
							<p>{{ post.excerpt }}</p>
						</p>
					</a>
				</li>

		{% endfor %}

	</ul>
	-->
</div>